*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}
/*header start*/
header{
	background-color: #404558;
	padding: 30px 0;
}
.wrapper {
	margin: 0 auto;
	overflow: hidden;
	width: 80%;
}
.menu {
	float: left;
	width: 70%;
}
.menu ul{
	list-style-type: none;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	margin: 0 25px;
	padding: 5px 0;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	text-transform: capitalize;
	border-bottom: 2px solid transparent;
	transition: 0.3s;
}
.menu ul li a:hover{
	border-bottom: 2px solid #50A4C6;
}
.signup {
	float: right;
	width: 15%;
}
.signup button{
	margin: 5px 0;
	padding: 4px 10px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	float: right;
	background-color: transparent;
	border: 2px solid #90509C;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
}
/*banner start*/
.banner{
	margin: 100px 0;
}
.b_text {
	width: 55%;
	float: left;
}
.b_text h1{
	text-transform: capitalize;
}
.b_text p{
	margin: 20px 0;
	color: #f2f2f2;
}
.icon button{
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
.icon i{
	font-size: 16px;
	color: #fff;
	padding: 8px;
	border-radius: 50%;
	border: 2px solid #db04ff;
}
.icon a{
	color: #4EB5D8;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 10px;
}
.b_img {
	width: 40%;
	float: right;
}
.b_img img{
	width: 100%;
}
/*header end*/
